.jumbotron {text-align: center; background-color: lightcyan;}

.row textarea {background-color: silver;}
.current textarea {background-color: lightgreen;}
.current ~ .row textarea {background-color: lightblue;}